{% extends "website/home.html"%}

{% block content %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'website/css/about.css' %}" />

<div id="about"></div>
<div id="about-text">
	<h1>¿Quiénes somos?</h1>
	<p>Bienvenidos a Estudio 1974, somos un estudio de grabación, mezcla y masterización de audio, situado al sur de la Ciudad de México.
Contamos con un espacio acústico óptimo para desarrollar proyectos de alta calidad y brindar soluciones para bandas a todos niveles que buscan la producción de material musical.</p>
<p>Desde que abrimos nuestras puertas a principios del 2013 hemos tenido un objetivo claro, brindarle a nuestros clientes un trato de confianza y la mayor calidad en todos nuestros servicios.</p>
</div>

{% endblock %}