<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
	<title>Estudio 1974</title>
	<meta name="description=" content="Bienvenidos a Estudio 1974, somos un estudio de grabación, mezcla y masterización de audio, situado al sur de la Ciudad de México.">
	<meta name="keywords" content="estudio, estudio de grabación, mezcla, masterización">
	<meta name="sitedomain" content="www.estudio1974.com"/>
    <meta name="country" content="Mexico"/>
    <meta name="language" content="Spanish"/>
    <meta name="author" content=" Desarrollado por Elephant Art Lab">
    <meta name="rating" content="general"/>
    <meta charset="utf-8"> 
	{% load staticfiles %}

	<link rel="shortcut icon" href="{% static 'website/images/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'website/images/favicon.ico' %}" type="image/x-icon">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<link rel="stylesheet" href="{% static 'website/css/nivo-lightbox.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'website/css/default/default.css' %}" type="text/css" />
	<script src="{% static 'website/js/nivo-lightbox.min.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'website/css/estudio_1974.css' %}" />

	<!--*******************************************************************-->
	<!-- CAROUSEL -->
	<!-- Important Owl stylesheet -->
	<link rel="stylesheet" href="{% static 'website/css/owl.carousel.css' %}">
	<!-- Default Theme -->
	<link rel="stylesheet" href="{% static 'website/css/owl.theme.css' %}">
	<!-- Include js plugin -->
	<script src="{% static 'website/js/owl.carousel.js' %}"></script>
	<!--*******************************************************************-->

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-53023056-1', 'auto');
	ga('send', 'pageview');

	</script>

</head>

<body>

	<div itemscope itemtype="http://schema.org/LocalBusiness" id="container">

		<div itemscope itemtype="http://schema.org/LocalBusiness" id="body">

			<div id="header"><span itemprop="name">Estudio 1974</span></div>
			<div id="header-logo">
				<a href="/home/"><img itemprop="image" src="{% static 'website/images/estudio_1974_logo.png' %}" alt="Estudio 1974"/></a>
			</div>

			<div id="menu-background"></div>
			<div id="menu">
				<table>
					<tr>
						<td><a href="/about/">NOSOTROS</a></td>
						<td><a href="/sessions/">SESIONES</a></td>
						<td><a href="/contact/">CONTACTO</a></td>
					</tr>
				</table>
			</div>

			
			{% block content %}

			{% endblock %}
		</div>

		<div id="footer">

			<div class="footer-logo">
				<img src="{% static 'website/images/estudio_1974_logo.png' %}" alt="Estudio 1974" height="40">
			</div>

			<div class="footer-social">
				<table>
					<tr>
						<td><a href="https://www.facebook.com/Estudio1974" target="_blank"><img src="{% static 'website/images/social/f1.png' %}" height="45" width="45"></a></td>
						<td><a href="https://twitter.com/Estudio1974" target="_blank"><img src="{% static 'website/images/social/f2.png' %}" height="45" width="45"></a></td>
						<td><a href="https://www.youtube.com/user/Estudio1974" target="_blank" ><img src="{% static 'website/images/social/f6.png' %}" height="45" width="45"></a></td>
						<td><a href="" ><img src="{% static 'website/images/social/f3.png' %}" height="45" width="45"></a></td>
					</tr>
				</table>
			</div>

			<div class="footer-elephant">
				<a href="http://www.elephant-artlab.com" target="_blank"><img src="{% static 'website/images/elephant_artlab_logo.png" alt="Elephant Art Lab" height="35"></a>
			</div>
		</div>
		<meta itemprop="email" content="contacto@estudio1974.com">
	</div>

	<script>
	$(document).ready(function() {

		$('.youtube-player').nivoLightbox({
			theme: 'default', 
		});

		$("#video-carousel").owlCarousel({
			autoPlay: false, //Set AutoPlay to 3 seconds
			mouseDrag: true,
			items : 4,
			itemsDesktop : [1199,3],
			itemsDesktopSmall : [979,3],
			itemsTablet: [768,2],
			itemsMobile: [479,1],
		});
	});
	</script>


</body>
</html>