#container {
	 background: url(../images/background_4.jpg) no-repeat center center fixed; 
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}