html { 
	background-color: black;
}
@font-face {
	font-family: 'accidental_president';
	src: url('../fonts/accidental_president.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	font-stretch: normal;
}
body {
	height:100%;
	margin: 0;
}
h1, h2 {
	font-family: 'accidental_president', Arial, Helvetica, sans-serif;
	font-size: 25px;
}
p, label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#container {
	background: url(../images/background_2.jpg) no-repeat center center fixed; 
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#body {
	height: 730px;
	padding-bottom: 50px;
}
#header {
	position: absolute;
	top: 70px;
	left: 0;
	height: 130px;
	width: 320px;
	background-color: #daff0d;
	opacity: 0.8;
	z-index: 1;
}
#header-logo {
	position: absolute;
	top: 80px;
	left: 200px;
	opacity: 1;
	z-index: 2;
}
#header-logo img {
	width: 110px;
}
#menu-background {
	position: absolute;
	top: 240px;
	left: 0;
	height: 40px;
	width: 600px;
	background-color: #daff0d;
	opacity: 0.8;
	z-index: 1;
}
#menu {
	position: absolute;
	top: 240px;
	left: 0;
	z-index: 2;
}
#menu table {
	font-family: 'accidental_president', Arial, Helvetica;
	font-size: 28px;
	border-spacing: 100px 2px;
}
#menu a {
	color: black;
	text-decoration: none;
}
#menu a:visited { 
	text-decoration: none; 
	color: black; 
}
#menu a:hover { 
	text-decoration: none;
	color: #FFFFFF;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	font-size: 12px;
	background: #2E2E2E;
	z-index: 10;
}
#footer img {
	opacity: 0.5;
}
.footer-text {
	width: 100%;
	color: #888888;
}
.footer-logo {
	float: left;
	padding-top: 5px;
	padding-left: 1%;
}
.footer-social {
	float: left;
	padding-left: 40%;
}
.footer-elephant {
	width: 145px;
	padding-left: 85%;
	padding-top: 5px;
}


#video-carousel {
	position: absolute;
	top: 360px;
	margin-left: -5px;
}
#video-carousel .item{
	margin-left: 20px;
}
#video-carousel .item img{
	width: 288px;
	height: 197px;
	display: block;
	border: solid rgba(218, 255, 13, 0.7) 3px;
}
.img-wrap {
	width: 294px;
	height: 203px;
	position: relative;
	background: black;
	line-height: 0;
}
.session-title{
	text-align: right;
	left: 10px;
	top: 115px;
	font-size: 30px;
}
.session-subtitle {
	left: 10px;
	top: 150px;
	font-size: 24px;
}
.img-wrap p {
	font-family: 'accidental_president', Arial, Helvetica;
	z-index: 100;
	position: absolute;    
	color: white;
	opacity: 0;
}
.img-wrap:hover p {
	opacity: 1;
	transition-delay: 0.1s;
	transition-duration: 0.9s;
	/*Safari*/
	-webkit-transition-duration: 0.9s;
}
.img-wrap:hover > a > img {
	opacity: 0.35;
	transition-duration: 1s;
	/*Safari*/
	-webkit-transition-duration: 1s;
}
#coming-soon {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	position: absolute;
	color: white;
	top: 360px;
	left: 50%;
	margin-left: -125px;
	background-color: black;
	opacity: 0.7;
	width: 250px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	border: solid rgba(218, 255, 13, 0.7) 3px;
}

#about {
	position: absolute;
	top: 330px;
	left: 0;
	height: 300px;
	width: 50%;
	min-width: 600px;
	background-color: black;
	opacity: 0.7;
	border: solid rgba(218, 255, 13, 0.75) 3px;
	border-left: black;
	border
	z-index: 0;
}
#about-text {
	position: absolute;
	color: white;
	padding: 10px;
	top: 320px;
	left: 5px;
	height: 300px;
	width: 45%;
	min-width: 580px;
	z-index: 1;
}
#about-text h1 {
	color: #daff0d;
}

#contact {
	font-family: 'accidental_president', Arial, Helvetica;
	position: absolute;
	top: 330px;
	left: 0;
	height: 340px;
	width: 45%;
	min-width: 600px;
	background-color: black;
	opacity: 0.8;
	border: solid rgba(218, 255, 13, 0.75) 3px;
	border-left: black;
	border
	z-index: 0;
}
#contact-form {
	position: absolute;
	color: white;
	font-family: Arial, Helvetica;
	font-size: 14px;
	padding: 10px;
	top: 313px;
	left: 10px;
	height: 300px;
	width: 45%;
	min-width: 600px;
	z-index: 1; 
}
#contact-form table {
	border-spacing: 10px 0px;
	margin-top: -5px;
	margin-left: -10px;
}
#contact-form h1 {
	color: #daff0d;
}
#contact-form span {
	font-family: Arial, Helvetica;
	color: #daff0d;
	font-size: 14px;
	padding-left: 5px;
}
#contact-form input, textarea {
	font-size: 12px;
}
#contact-form input:focus, textarea:focus {
	outline: none;
	border-color: #daff0d;
}
#contact-form input {
	width: 22em;
}
#contact-form textarea {
	width: 37em;
	height: 15em;
	resize: none;
}
#message-label {
	vertical-align: text-top;
}
.send {
	position: absolute;
	left: 77px;
	cursor: pointer;
	background-color: rgba(218, 255, 13, 0.75);
	border: none;
	font-family: 'accidental_president', Arial, Helvetica;
	color: black;
	font-size: 20px;
	width: 74px;
	height: 32px;
}
#message-notification {
	position: absolute;
	left: 160px;
	padding-top: 7px;
}

#location {
	position: relative;
	float: right;
	top: 240px;
	height: 431px;
	width: 50%;
	background-color: black;
	opacity: 0.8;
	border: solid rgba(218, 255, 13, 0.75) 3px;
	border-right: black;
	z-index: 0;
}
#location-info {
	font-family: 'accidental_president', Arial, Helvetica;
	color: white;
	position: relative;
	float: right;
	height: 430px;
	width: 50%;
	margin-top: -202px;
	z-index: 1;
}
@media screen and (max-width: 1220px) {
	#location {
		position: absolute;
		margin-bottom: 80px;
		top: 740px;
		height: 430px;
		width: 100%;
		background-color: black;
		opacity: 0.8;
		border: solid rgba(218, 255, 13, 0.75) 3px;
		border-left: black;
		border-right: black;
		z-index: 0;
	}
	#location-info {
		font-family: 'accidental_president', Arial, Helvetica;
		color: white;
		position: absolute;
		margin-left: 5px;
		top: 934px;
		height: 430px;
		width: 99%;
		min-width: 700px;
		z-index: 1;
	}
}

#address {
	padding-left: 10px;
}
#map {
	padding-left: 10px;
}